.my-list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-list h1{
    margin-bottom: 14px;
}

.my-list span{
    font-size: 18px;
}

.my-list ul{
    width: 700px;
}

.my-list ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-list div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-list div a{
    text-decoration: none;
    color: #000000;
    margin-right: 14px;
}

.my-list span {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.my-list span img {
    width: 200px;
}


@media (max-width: 600px) {
    .my-list li {
      flex-direction: column; 
      align-items: flex-start;
    }
  
    .my-list li div {
      justify-content: flex-start;
      margin-top: 10px;
    }
  
    .my-list li div a,
    .my-list li div button {
      font-size: 14px; 
      padding: 6px 10px;
    }
  }




